
  .view-users-container {
    background-color: #f9f9f9;
    min-height: 100vh;
    margin-top: 70px;
  }
  
  .view-users-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
 
  .view-users-navbar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  

  .view-users-back-button {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
   
  }
  

  .view-users-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .view-users-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .view-users-card:hover {
    transform: translateY(-5px);
  }
  
  .view-users-card h2 {
    margin-top: 0;
    color: #333;
  }
  
  .view-users-card p {
    margin: 8px 0;
    color: #555;
  }
  
  .view-users-card p strong {
    color: #000;
  }
  